<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <activity android:name=".Register"
            android:label="Register"
            android:parentActivityName=".S2login"
            android:screenOrientation="portrait" />
        <activity android:name=".DetailsTreePlanted" />
        <activity
            android:name=".MainActivity"
            android:label="Login"
            android:parentActivityName=".S2login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayQRCode"
            android:label="My QR Code"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTreeMain"
            android:label="Planting"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyTrees"
            android:label="My Trees"
            android:parentActivityName=".ActivityTreeMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tree"
            android:label="Trees"
            android:parentActivityName=".Tree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayPage"
            android:label="Pay"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopUp"
            android:label="Top Up"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityContent"
            android:label="Activities"
            android:parentActivityName=".ActivityTreeMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:label="Trees"
            android:parentActivityName=".S2login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FBContent"
            android:label="F&amp;B"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".S2login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>